<!doctype html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-with, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bienvenido a Tia Clara. Conocé la amplia variedad de productos artesanales que creamos especialmente para que tu familia y vos disfruten mucho más de la vida. " />
    <meta name="keywords" content="dulces, mendoza, mermeladas, jaleas, tiaClara, MERMELADAS, JALEAS, MENDOZA, DULCES, ARGENTINA, PRODUCTOS, productos, TIACLARA" />
    <title>{% block titulo %} {% endblock %} | Tía Clara Dulces Artesanales </title>
    <link rel="shortcut icon" href="/img/icono-fabicon-b.png">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/googleAnalytics.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/acordeon.js"></script>
    <script type="text/javascript" src="/js/mijs.js"></script> 
    <script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/menu.js"></script>
    <script languague="javascript" type="text/javascript">
        $(document). ready (function(){
            ('a[href=#top]').click (function(){
                $('html, body').animate($.scrollTo("#topSpot"); 'slow');
                return false;
            });
        });
    </script>

    


</head>
<body>
    <header id="pegado">
            <div class="marca">
                <a href="/"><img src="/img/logo-tia-clara.png" alt="logo tia clara"></a> 
            </div>
            <div class="menu-bar">
                <a href="#" class="bt-menu"><span class="icon-list2"></span> </a>
            </div>
        <nav>
            <ul class="menu" id="menu_principal">
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/mermeladas">Mermeladas</a></li>
                <li><a href="/dulces">Dulces</a></li>
                <li><a href="/jaleas">Jaleas</a></li>
                <li><a href="/cervezas">Cervezas</a></li>
                <li><a href="/otros">Otros</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="https://www.facebook.com/pages/T%C3%ADa-Clara-dulces-artesanales/1473508252899702" target="_blank" class="icon-facebook"></a></li>
            </ul>
        </nav>
    </header>
    <div id="menu-contenedor">
 {% block contenido %} {% endblock %} 
    </div> 
   <footer>
    <div class="footer">
         <div class="datos-footer">
            <a href="/contacto" target="_blank">
                <img src="/img/icono-contacto.png" alt="contacto">
            </a>
                <span>261153389738 clara_barraza@hotmail.com Luzuriaga 415 | Dorrego Guaymallén | Mendoza</span>
        </div>
        <div class="datos-footer">
                <img src="/img/icono-direccion.png" alt="direccion">
                <span>Plaza de Chacras Chacras de Coria, Luján de Cuyo Mendoza | Domingos de 10.00 a 19.00 hs.</span>
                <span>Ferias Independientes.</span>
        </div>
        <div class="datos-footer">
            <a href="https://www.facebook.com/pages/T%C3%ADa-Clara-dulces-artesanales/1473508252899702" target="_blank">
                <img src="/img/icono-facebook.png" alt="icono facebook">
            </a>
                <span>¡Seguinos!</span>
                <span>/Tía-Clara-dulces-artesanales</span>
        </div>
        <div class="datos-footer">
             <a href="/mermeladas/hello.pdf" target="_blank">
                <img src="/img/icono-pdf.png" alt="icono catalogo">
            </a>
            <span>Descargá el listado de productos.</span>
        </div>
        <div class="datos-footer">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                <img src="/img/icono-copywrite.png" alt="Licencia de Creative Commons"/>
            </a>
            <span>Esta obra cuyo autor es 
                <a xmlns:cc="http://creativecommons.org/ns#" href="/creditos" target="_blank" property="cc:attributionName" rel="cc:attributionURL">Trío Galleta
                </a> 
                está bajo una 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" >Licencia Creative Commons
                </a>
            </span>
        </div>
    </div>
    </footer>
    


    
</body>
</html>
