{% extends 'base.html' %}
{% block titulo %} Contacto {% endblock %}
{% block contenido %}
<div class="wrapper">
     <div class="banner">
        <img src="/img/contacto-banner-mendoza-fruit-trees-1600x450.jpg" alt="fondo de contacto">
        <div class="sello">
        <img src="/img/sello-producto-artesanal-130x130.png" alt="sello">
        </div> 
    </div>
    <form class="form-contacts-submit" id="formContact" method="POST">{% csrf_token %}
        <div class="error"> 
            <span></span>
        </div>
        {{formContact.as_p}}
        <input type="submit" value="Enviar">
        <input type="reset" value="Cancelar">
    </form>
    <div class="contacto-footer">
            <div class="conjunto-de-producto">
                <img src="/img/contacto-productos-en-conjunto.png" alt="productos">
            </div> 
            <div class="texto">
                <h3>Podés encontrar nuestros productos aquí:</h3>
                <span>Plaza de Chacras | Chacras de Coria 
                    Luján de Cuyo | Mendoza
                Domingos de 10.00 a 19.00 hs.</span>
            </div>
            <div class="texto2">
                <h3>O pedirlos por encargo:</h3>
                <span>261153389738 | clara_barraza@hotmail.com
                Luzuriaga 415 | Dorrego - Guaymallén - Mza.</span>
            </div>
            <div class="guarda">
                <img src="/img/guarda-tia-clara.png" alt="guarda">
            </div>
    </div> 
 </div>

{% endblock %}
