{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %} Contacto {% endblock %}
{% block contenido %}
    <form class="form-contacts-submit" id="formContact" method="POST">{% csrf_token %}
        <div class="error"> 
            <span></span>
        </div>
        {{formContact.as_p}}
        <input type="submit" value="Enviar">
    </form>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/contacto.js' %}"></script>
{% endblock %}
