<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créditos</title>
</head>
<body>
    <h1>Equipo</h1>
 <pre>
    /* Equipo */  

        Programador/Desarrollador Web : Fernando Orozco
        Email : fernandogorozco@gmail.com
        Cel: 2616414638
        De: Las Heras, Mendoza, Argentina


          

    /* Sitio */

        Sitio Web - Nombre: Tia Clara
        Herramientas: Html-Css3-Js-jQuery-Python-Django-Github
        Descripción del Sitio Web: 
            -Pagina principal de la Empresa
            -Nosotros
            -Mermeladas
            -Dulces
            -Jaleas
            -Otros
            -Contacto

        Lenguaje: Castellano
        Licencia: Attribution-NonCommercial-NoDerivatives 4.0 International 
        Version: 1.0.0

    </pre>
</body>
</html>