{% extends 'base.html' %}
{% block titulo %} Dulces {% endblock %}

{% block contenido %}

<div class="wrapper">
		<div class="banner">
			<img src="{{ banner.imagen_pagina_principal.url }}" alt="fondo de dulces">
			<div class="sello">
				<img src="/img/sello-producto-artesanal-130x130.png" alt="sello">
			</div>
		</div>
		<div id="acordion" class="accordion">
		<a id="topSpot" class="topSpot"></a>
				<div class="tipos"> <a href="#topSpot"><h2>{{ dulce0.tipos.nombre }}</h2></a></div>	
			<ul class="productos">
			{% for dulce in dulces %}
				{% ifchanged dulce.tipos %}
				{% if dulce.tipos != dulce0.tipos %}
				</ul>
					<div class="tipos"> <a href="#topSpot"><h2>{{ dulce.tipos.nombre }}</h2></a></div>
				<ul class="productos">
				{% endif %}
				{% endifchanged %}
					<li>
						{% if dulce.imagen_banner != '' %}
						<div class="banner-productos">
							<img src="{{ dulce.imagen_banner_producto.url }}" alt="banner de {{ dulce.nombre }}">
						</div>
						{% endif %}
						<div class="franja-blanca">
							<h3>{{ dulce.nombre }}</h3>
						</div>
						{% if dulce.imagen_producto != '' %}
						<img class="frascos" src="{{ dulce.imagen_producto_vista.url }}" alt="imagen de {{ dulce.nombre }}">
						{% endif %}
						<div class="descripcion">
							{{ dulce.descripcion|safe }}
						</div>
						<div class="boton-disponibilidad" >
							<a href="/contacto/#formContact">
								<button type="button">
									Consultar <br>
									Disponibilidad
								</button> 
							</a>
						</div>	
						<div class="guarda">
							<img src="/img/guarda-tia-clara.png" alt="guarda/back">
						</div>
					</li>
					{% endfor %}
				</ul>
		</div>
</div>

{% endblock %}