{% extends "easy_pdf/base.html" %}

{% block extra_style %}
    <style type="text/css">
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: green;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="content">
        <div class="main">
 
            <h1>Hola papa que haces!</h1>
     
        </div>
    </div>
    <footer>
         <div class="datos-footer">
                <span>261153389738 | clara_barraza@hotmail.com | Luzuriaga 415 | Dorrego - Guaymallén - Mendoza.</span>
        </div>
    </footer>

{% endblock %}