{% extends 'base.html' %}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="wrapper">
	<div class="banner">
		<img src="/img/arbolito-1600x450.jpg" alt="fondo del home">
		<div class="sello">
			<img src="img/sello-producto-artesanal-130x130.png" alt="sello">
		</div>
	</div>
	<div class="home-products">
		<div class="product-image">
			<img class="zoomIt" src="/img/dulce-de-tomate-home-al-corte-home.png" alt="dulces">
			<span class="product-image-description">¡Sabor artesanal para tu cocina!</span>
			<p>Dulces en pan y en almíbar se pueden convertir en exquisitos postres de una cena o almuerzo innolvidable. Descubrilos....</p>
		</div>	
		<div class="product-image">
			<img class="zoomIt" src="/img/mermelada-home-al-corte.png" alt="mermeladas">
			<span class="product-image-description">Tradición en tu desayuno.</span>
			<p>Comenzá el día con alguna de nuestras mermeladas clásicas, regionales o gourmet. Sabor en tu mesa.Descubrilos....</p>
		</div>	
		<div class="product-image">
			<img class="zoomIt" src="/img/jalea-de-higo-home-al-corte-home.png" alt="jaleas">
			<span class="product-image-description">Textura y brillo.</span>
			<p>Nuestras jaleas son ideales para rellenar, cubrir y decorar diversas preparaciones. Disponibles en sabores tradicionales y exóticos.Descubrilos....</p>	
		<div class="sello"></div>	
		</div>
		<div class="guarda">
			<img src="/img/guarda-tia-clara.png" alt="guarda/back">
		</div>
	</div>
       <!-- Poner esta imagen como fondo del aside
		aside {
			background: url(img/arbolito-1600x450.jpg) repeat-x bottom left;
	 	}
	-->
	<!--
	<figure class="guarda">
		<img src="img/guarda-1600x169.png" alt="guarda home">
	</figure>
	-->
</div>
{% endblock %}
