{% extends 'base.html' %}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="wrapper">
	<div class="banner">
		<img src="/img/arbolito-1600x450.jpg" alt="fondo del home">
		<div class="sello">
			<img src="/img/sello-mendoza-argentina.png" alt="sello">
		</div>
	</div>
	<div class="home-products">
		<div class="product-image">
			<a href="/dulces"><img class="zoomIt" src="/img/producto-home-dulce.png" alt="dulces"></a>
			<span class="product-image-description">¡Sabor artesanal para tu cocina!</span>
			<p class="product-image-description2">Dulces en pan y en almíbar se pueden convertir en exquisitos postres de una cena o almuerzo inolvidable. <a href="/dulces"><strong>Descubrilos...</strong></a></p>
		</div>	
		<div class="product-image">
			<a href="/mermeladas"><img class="zoomIt" src="/img/producto-home-mermelada.png" alt="mermeladas"></a>
			<span class="product-image-description">Tradición en tu desayuno</span>
			<p class="product-image-description2">Comenzá el día con alguna de nuestras mermeladas clásicas, regionales o gourmet. Sabor en tu mesa. <a href="/mermeladas"><strong>Descubrilos...</strong></a></p>
		</div>	
		<div class="product-image">
			<a href="/jaleas"><img class="zoomIt" src="/img/producto-home-jaleas.png" alt="jaleas"></a>
			<span class="product-image-description">Textura y brillo</span>
			<p class="product-image-description2">Nuestras jaleas son ideales para rellenar, cubrir y decorar diversas preparaciones. Desgustá nuevos sabores y los tradicionales!. <a href="/jaleas"><strong>Descubrilos...</strong></a></p>	
		<div class="sello"></div>	
		</div>
		<div class="guarda">
			<img src="/img/guarda-tia-clara.png" alt="guarda/back">
		</div>
	</div>
       <!-- Poner esta imagen como fondo del aside
		aside {
			background: url(img/arbolito-1600x450.jpg) repeat-x bottom left;
	 	}
	-->
	<!--
	<figure class="guarda">
		<img src="img/guarda-1600x169.png" alt="guarda home">
	</figure>
	-->
</div>
{% endblock %}
