{% extends 'base.html' %}
{% block titulo %} Mermeladas {% endblock %}
{% block contenido %}

<div class="wrapper">
		<div class="banner">
			<img src="{{ banner.imagen_pagina_principal.url }}" alt="fondo de mermeladas">
			<div class="sello">
				<img src="/img/sello-producto-artesanal-130x130.png" alt="sello">
			</div>
		</div>
		<div id="acordion" class="accordion">
			<h2>{{ mermelada0.tipos.nombre }}</h2>	
			<ul class="productos">
			{% for mermelada in mermeladas %}
				{% ifchanged mermelada.tipos %}
				{% if mermelada.tipos != mermelada0.tipos %}
				</ul>
					<h2>{{ mermelada.tipos.nombre }}</h2>
				<ul class="productos">
				{% endif %}
				{% endifchanged %}
					<li>
						{% if mermelada.imagen_banner != '' %}
						<div class="banner-productos">
							<img src="{{ mermelada.imagen_banner_producto.url }}" alt="banner de {{ mermelada.nombre }}">
						</div>
						{% endif %}
						<div class="franja-blanca">
							<h3>{{ mermelada.nombre }}</h3>
						</div>
						{% if mermelada.imagen_producto != '' %}
						<img class="frascos" src="{{ mermelada.imagen_producto_vista.url }}" alt="imagen de {{ mermelada.nombre }}">
						{% endif %}
						<div class="descripcion">
							{{ mermelada.descripcion|safe }}
						</div>
						<div class="consulta">
							<img src="/img/boton-consultar-disponibilidad.png" alt="boton consulta">
						</div>
						<div class="guarda">
							<img src="/img/guarda-tia-clara.png" alt="guarda/back">
						</div>
					</li>
					{% endfor %}
				</ul>
		</div>
</div>

{% endblock %}