{% extends 'base.html' %}
{% block titulo %} Mermeladas {% endblock %}
{% block contenido %}

<div class="wrapper">
		<div class="banner">
			<img src="/img/mermelada-banner-jam-and-bread-1600x450.jpg" alt="fondo de mermeladas">
			<div class="sello">
				<img src="/img/sello-producto-artesanal-130x130.png" alt="sello">
			</div>
		</div>
		<div id="acordion">

				<div class="franja-tipos">
					<h2>{{ tipo.nombre }}</h2>
				</div>
				<ul class="productos">
					{% for mermelada in mermeladas %}
					<li>
						<div class="banner-productos">
							<img src="{{ mermelada.(variable_imagekit).url }}" alt="banner de frutillas">
						</div>
						<div class="franja-blanca">
						<h3>{{ mermelada.nombre }}</h3>
						</div>
						<img class="frascos" src="{{ MEDIA_URL }}imgProducto/{{mermelada.fk_url}}" alt="FRUTILLAS">
						<span class="sugerencias">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis tempor augue .</span>
						<div class="consulta">
							<img src="/img/boton-consultar-disponibilidad.png" alt="boton consulta">
						</div>
						<div class="guarda">
							<img src="/img/guarda-tia-clara.png" alt="guarda/back">
						</div>
					</li>
					{% endfor %}
				</ul>
		</div>
</div>

{% endblock %}