{% extends 'base.html' %}
{% block titulo %} Nosotros {% endblock %}
{% block contenido %}

<div class="wrapper">
		<div class="banner">
			<img src="{{ nosotros.imagen_pagina_principal.url }}" alt="fondo-nosotros">
			<div class="sello">
				<img src="/img/sello-producto-artesanal-130x130.png" alt="sello">
			</div>
		</div>
		<div class="historia">
			<div class="nuestra-historia">
			{{ nosotros.descripcion|safe }}
			</div>
			<div id="aparecer" class="imagenes-asociadas">
				{% for img in imagen %}
				<img id="ver" src="{{ img.imagen_pagina.url }}" alt="#">
				{% endfor %}
			</div>
		</div>
</div>
{% endblock %}