{% extends 'base.html' %}
{% block titulo %} Otros {% endblock %}

{% block contenido %}

<div class="wrapper" id="otros">
		<div class="banner">
			<img src="{{ banner.imagen_pagina_principal.url }}" alt="fondo de otros">
			<div class="sello">
				<img src="/img/sello-producto-artesanal-130x130.png" alt="sello">
			</div>
		</div>
		<div id="acordion" class="accordion">
		<a id="topSpot" class="topSpot"></a>
			<div class="tipos"> <a href="#topSpot"><h2>{{ otro0.tipos.nombre }}</h2></a></div>	
				<ul class="productos">
			{% for otro in otros %}
				{% ifchanged otro.tipos %}
				{% if otro.tipos != otro0.tipos %}
				</ul>
					<div class="tipos"> <a href="#topSpot"><h2>{{ otro.tipos.nombre }}</h2></a></div>
				<ul class="productos">
				{% endif %}
				{% endifchanged %}
					<li>
						{% if otro.imagen_banner != '' %}
						<div class="banner-productos">
							<img src="{{ otro.imagen_banner_producto.url }}" alt="banner de {{ otro.nombre }}">
						</div>
						{% endif %}
						<div class="franja-blanca">
							<h3>{{ otro.nombre }}</h3>
						</div>
						{% if otro.imagen_producto != '' %}
						<img class="frascos" src="{{ otro.imagen_producto_vista.url }}" alt="imagen de {{ otro.nombre }}">
						{% endif %}
						<div class="descripcion">
							{{ otro.descripcion|safe }}
						</div>
						<div class="boton-disponibilidad" >
							<a href="/contacto/#formContact">
								<button type="button">
									Consultar <br>
									Disponibilidad
								</button> 
							</a>
						</div>
						<div class="guarda">
							<img src="/img/guarda-tia-clara.png" alt="guarda/back">
						</div>
					</li>
					{% endfor %}
				</ul>
		</div>
</div>

{% endblock %}